* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */
  --lightred: hsl(0, 100%, 67%);
  --lightredbg: hsla(0, 100%, 56%, 0.055);
  --orangeyellow: hsl(39, 100%, 56%);
  --orangeyellowbg: hsla(39, 100%, 56%, 0.055);

  --greenteal: hsl(166, 100%, 37%);
  --greentealbg: hsla(166, 100%, 56%, 0.055);
  --cobaltblue: hsl(234, 85%, 45%);
  --cobaltbluebg: hsla(234, 85%, 56%, 0.055);

  /* Gradients */

  --Lightslateblue: hsl(252, 100%, 67%);
  --Lightroyalblue: hsl(241, 81%, 54%);

  --Violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lightlavender: hsl(241, 100%, 89%);
  --darkgrayblue: hsl(224, 30%, 27%);
}

@font-face {
  font-family: Hanken;
  src: url(../fonts/HankenGrotesk-Medium.ttf);
}

body {
  font-family: Hanken;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px auto;
  transform: translateY(20%);
  width: 600px;
  height: 350px;
  box-shadow: 7px 5px 17px var(--paleblue);
  border-radius: 10%;
  background-color: var(--white);
}

/* Result part  */

.result {
  width: 300px;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  border-radius: 10%;
  background-image: linear-gradient(
    to bottom,
    var(--Lightslateblue),
    var(--Lightroyalblue)
  );
}

.result ::selection {
  background-color: var(--Violetblue);
}
.res {
  color: var(--lightlavender);
  position: absolute;
  top: 25px;
}

.circle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 30px;
  margin: 10px auto;
  background-image: linear-gradient(
    to bottom,
    var(--Violetblue),
    var(--persianblue)
  );
}
.great {
  font-weight: 500;
  font-size: 20px;
  display: block;
  margin-bottom: 15px;
}
.result p {
  color: var(--lightlavender);
  font-size: 15px;
}
.circle span {
  font-size: xx-small;
  color: var(--lightlavender);
}

/* Summary part */

.sum {
  position: absolute;
  top: 25px;
  font-weight: bold;
  text-align: left;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 15px;
  width: 300px;
  height: 100%;
  background-color: var(--white);
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.summary ::selection {
  background-color: var(--darkgrayblue);
}
/* table row styles */
tr {
  display: block;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  text-transform: capitalize;
  position: relative;
}

td {
  margin-top: 5px;
  position: relative;
}

.reaction {
  color: var(--lightred);
  background-color: var(--lightredbg);
}

.memory {
  color: var(--orangeyellow);
  background-color: var(--orangeyellowbg);
}

.verbal {
  color: var(--greenteal);
  background-color: var(--greentealbg);
}

.visual {
  color: var(--cobaltblue);
  background-color: var(--cobaltbluebg);
}

.num {
  /* To control the begining number */
  color: var(--darkgrayblue);
  position: absolute;
  right: 10px;
  top: 2px;
}
.number {
  /* To control the " / 100 " color */
  color: var(--lightlavender);
}

img {
  width: 15px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

button {
  display: block;
  border: none;
  margin: 5px auto;
  background-color: var(--darkgrayblue);
  color: var(--white);
  padding: 15px;
  width: 100%;
  border-radius: 25px;
}

button:hover {
  background-image: linear-gradient(
    to bottom,
    var(--Lightslateblue),
    var(--Lightroyalblue)
  );
}
