* {
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* Primary */
    --lightred: hsl(0, 100%, 67%);
    --orangeyellow: hsl(39, 100%, 56%);
    --greenteal: hsl(166, 100%, 37%);
    --cobaltblue: hsl(234, 85%, 45%);
    
    /* Gradients */

--Lightslateblue: hsl(252, 100%, 67%);
--Lightroyalblue: hsl(241, 81%, 54%);

--Violetblue : hsla(256, 72%, 46%, 1);
--persianblue : hsla(241, 72%, 46%, 0);

/* Neutral */

--white : hsl(0, 0%, 100%);
--paleblue: hsl(221, 100%, 96%);
--lightlavender: hsl(241, 100%, 89%);
--darkgrayblue: hsl(224, 30%, 27%);

}
@font-face {
    font-family: Hanken;
    src: url(../fonts/HankenGrotesk-Medium.ttf);
}

body {
    font-family: Hanken;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    transform: translateY(50%);
    width: 600px;
    height: 280px;
    padding: 15px;
}

.result {
    width: 300px;
    height: 100%;
    padding: 15px;
    color: var(--white);
    border-radius: 20px;
    background-image: linear-gradient(to bottom ,var(--Lightslateblue),var(--Lightroyalblue));
    
}